<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>596511192920-hi4d8362qb919qsg41175uaqg33lh7v6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.596511192920-hi4d8362qb919qsg41175uaqg33lh7v6</string>
	<key>API_KEY</key>
	<string>AIzaSyBJcCkRmamwLM6DbXh4HwMa21RS2Ec8aXg</string>
	<key>GCM_SENDER_ID</key>
	<string>596511192920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.yukhanov.chatSS</string>
	<key>PROJECT_ID</key>
	<string>chatss-29910</string>
	<key>STORAGE_BUCKET</key>
	<string>chatss-29910.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:596511192920:ios:5c4ab6c27806368c3c572d</string>
</dict>
</plist>